@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #EDF5FF;
  color: #343A3D;
}

.cardBackground{
  background-color: #FFFFFF;
}

.starCard{
  box-shadow: 0 0 20px #FEF0E4 inset;
  border: 1px solid #e0dcdc;
}


.buttonCard{
  border: 1px solid rgb(244, 242, 113);
  box-shadow: 0 0 20px #FEF0E4 inset;
  background-color: #ffe96d;
}

.buttonCard:hover{
  background-color: #FEDB1D;
}

.popupBox{
  background-color: #EDF5FF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  padding: 5px 10px;
  border-radius: 20px;
  visibility: hidden;
}

.popupBox::after{
  content: "";
  position: absolute;
  top:100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #EDF5FF transparent transparent transparent;
}

.popupBox.show{
  visibility: visible;
}

.textArea:focus{
  border: 1px solid rgb(244, 242, 113);
  box-shadow: 0 0 20px #FEF0E4 inset;
  outline: yellow;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
